body{font-family: arial; font-size: 1.5em;}

#shell{
    border: 5px solid black;
    padding: 10px;
}
    
.shell2{
    border: 5px solid black;
    padding: 10px;
}

#timeIn{
    margin-bottom: 50px;
}

#createElement{
    
}

.buttonStyles{
    background-color: black;
    text-align: center;
    margin-top: 5px; 
    padding: 10px;
    color: white;
    font-size: 1.025em;
}