body{font-family: arial;}

#shell{
    border: 5px solid black;
    padding: 10px;
}
    
.shell2{
    border: 5px solid black;
    padding: 10px;
}

#timeIn{
    background-color: black;
    text-align: center;
    margin-top: 5px; 
    padding: 10px;
    font-size: 1.85em;
    color: white;
    margin-bottom: 50px;
}

#createElement{
    background-color: black;
    text-align: center;
    margin-top: 5px; 
    padding: 10px;
    font-size: 1.85em;
    color: white;
}